<ul class="navbar-nav me-auto mb-lg-0">
    <li class="nav-item ">
        <button class="nav-link" aria-current="page" *ngIf="!user$" class=" btn au-btn-submit mx-2 p-2" type="button"
            (click)="login()">
            {{'Sign In'| translate}}
        </button>
    </li>
    <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn au-btn-submit " role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
        </a>
        <ul class="dropdown-menu"> -->

    <li id="welcome" class="nav-item ">
        <button class="nav-link" *ngIf="user$" class="btn au-btn-submit" (click)="manageAccount()">
            <!-- {{'Welcome' | translate}} -->
            {{user$.firstName }}</button>
    </li>
    <li class="nav-item">
        <button *ngIf="user$" [routerLink]="['/orders']" [queryParams]="{email : user$.email}" class="btn au-btn-submit mx-2"
            type="button">
            {{'Orders' | translate}}
        </button>
    </li>
    <li class="nav-item">
        <button *ngIf="user$" class="btn au-btn-submit  " type="button" (click)="logout()">
            {{'Logout' | translate}}
        </button>
    </li>
    <!-- </ul>
    </li> -->
</ul>