.navbar{
    position:relative;
    background-color: #0da8e4;
}
a, button{
    color: white;
    
}
.main-content {
    padding-top: 16px;
    min-height: 100vh;
}
.flag.en{
    right: 10px;
    top: 25px;
    position: absolute;
    width: 25px;
}
.flag.es{
    right: 35px;
    top: 23px;
    position: absolute;
    width: 28px;
    margin: 0 3px;
}
.cart{
    position: absolute;
    right: 73px;
    top: 15px;
    /* width: 75px; */
}
.collapse{
    right: 200px;
    position: absolute;
}