<nav class="navbar navbar-expand-lg  py-3">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class=" form-control me-2 au-input au-input-xl " type="text" name="search"
            placeholder="{{'Enter product name' | translate}}" #productName (keyup)="searchProduct(productName.value)">
            <button class="btn btn-outline-info au-btn-submit" type="button"(click)="searchProduct(productName.value)">
            {{'Search' | translate}}</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <app-user-info></app-user-info> 
        </div>
        <div class="cart">
            <app-cart-status></app-cart-status>
        </div>
        <button (click)="switchLanguage('en')"><img src="../../../assets/images/flags/united-kingdom.png" class="flag en" alt="EN"></button>
        <button (click)="switchLanguage('es')" ><img src="../../../assets/images/flags/spain.png" class="flag es" alt="ES"></button>
    </div>
</nav> 