<div class="main-content">
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide" *ngFor="let product of products">
                    <figure>
                        <div>
                            <a [routerLink]="['/product-detail/',product.sku]" >
                            <img src="{{product.imageUrl}}" class="carousel-img" alt="{{product.name}}">
                            </a>
                        </div>
                        <figcaption class="mb-20">
                            {{product.description}}
                            <a [routerLink]="['/product-detail/',product.sku]" >
                            <span class="credit">{{product.name}}</span>
                            </a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li *ngFor="let product of products; let  i = index">
                    <label for="slide-{{i+1}}"><img src="{{product.imageUrl}}" alt="{{product.name}}"></label>
                </li>
            </ul>
        </div>
    </div>
</div>