<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="orders.length <= 0">
        <h3 class="alert alert-info" role="alert">
          {{ "No orders yet" | translate }}!
          <br />
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            {{ "Make sales" | translate }}😊</a
          >
        </h3>
      </div>
      <div *ngIf="orders.length > 0">
        <table
          class="table table-hover table-bordered my-2"
          style="text-align: center"
        >
          <thead>
            <tr class="">
              <th scope="col">{{ "Tracking Number" | translate }}</th>
              <th scope="col">{{ "Total Price" | translate }}</th>
              <th scope="col">{{ "Total Items" | translate }}</th>
              <th scope="col">{{ "Items" | translate }}</th>
              <th scope="col">{{ "Shipping Address" | translate }}</th>
              <th scope="col">{{ "Order Date" | translate }}</th>
              <th scope="col">{{ "Actions" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let order of orders">
              <td>{{ order.trackingNumber }}</td>
              <td>{{ "currency" | translate }}{{ order.totalPrice }}</td>
              <td>{{ order.totalItems }}</td>
              <td>
                <tr>
                  <td *ngFor="let item of order.orderItems">
                    <img class="img" [src]="item.imageUrl" [alt]="item.name" />
                  </td>
                </tr>
              </td>
              <td>
                {{ order.shippingAddress.street }},
                {{ order.shippingAddress.city }},{{
                  order.shippingAddress.country
                }}
              </td>
              <td>{{ order.dateCreated | date : "short" }}</td>
              <td class="actions">
                <a
                  [routerLink]="['update', order.trackingNumber]"
                  class="btn-update p-1 mx-1"
                  >{{ "Update" | translate }}</a
                >
                <a
                  [routerLink]="['delete', order.trackingNumber]"
                  class="btn-delete p-1 mx-1"
                  >{{ "Delete" | translate }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-pagination" style="padding: 30px 0">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 box items">
            <div class="row">
              <div class="col-md-8" style="padding-left: 20%">
                <ngb-pagination
                  [(page)]="page"
                  [collectionSize]="totalElements"
                  [pageSize]="pageSize"
                  (pageChange)="getOrders()"
                  [maxSize]="5"
                >
                </ngb-pagination>
              </div>
              <div class="col-md-4">
                <span class="mr-2">{{ "Page size" | translate }}</span>
                <select
                  (click)="getOrders()"
                  name="pageSize"
                  [(ngModel)]="pageSize"
                >
                  <option value="5" selected="true">5</option>
                  <option value="10">10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
