<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="customers.length <= 0">
                <h3 class="alert alert-info" role="alert">
                    {{'No customers yet' | translate}}!
                    <br>
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                        {{'Attract customers' | translate}}😊</a>
                </h3>
            </div>
            <div *ngIf="customers.length > 0">
                <table class="table table-hover table-bordered my-2" style="text-align: center;">
                    <thead>
                        <tr class="">
                            <th scope="col">{{'Name' | translate}}</th>
                            <th scope="col">{{'Email' | translate}}</th>
                            <th scope="col">{{'Actions' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let customer of customers">
                            <td>{{customer.firstName}}{{customer.lastName}}</td>
                            <td>{{customer.email}}</td>
                            <td>
                                <a [routerLink]="['update',customer.email]" class="btn-update p-1 mx-1">{{'Update'
                                    | translate}}</a>
                                <a [routerLink]="['delete',customer.email]" class="btn-delete p-1 mx-1">{{'Delete'
                                    | translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row p-5">
                <div class="col-md-6"></div>
                <div class="col-md-6"> <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                        [pageSize]="pageSize" (pageChange)="getCustomers()" [maxSize]="5" [rotate]="true">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>