<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header">
                    <input class="au-input au-input-xl" type="text" name="search"
                        placeholder="Enter product name" #productName (keyup)="searchOnKeyup(productName.value)">
                    <button class="au-btn-submit" type="button" (click)="searchOnClick(productName.value)"
                    [disabled]="productName.value.trim().length === 0" >
                        Search
                    </button>
                </form>
                <div class="cart-area d-n">
                    <a href="shopping-detail.html">
                        <div class="total">19.22 <span> 2</span> </div>
                         <i style="color: white;" class="fa fa-shopping-cart pt-3 px-3"aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="account-wrap"></div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->