<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ShopShop</title>

  <link rel="icon" href="assets/images/fav-icon.png">
</head>

<body>
  <!-- <div class="page-wrapper"> -->

    <app-menu-sidebar></app-menu-sidebar>

    <div class="page-container">

      <app-header-desktop></app-header-desktop>

      <!-- <app-main-content></app-main-content> -->
      
      <router-outlet></router-outlet>

    </div>
  <!-- </div> -->

  <app-footer></app-footer>

</body>

</html>
<!-- end document-->