<!-- MAIN CONTENT-->
<div class="main-content page-m">
    <div class="section-content section-content-p30 e-spc">
        <div class="container-fluid">
            <!-- Form Group -->
            <form [formGroup]="theForm" (submit)="onSubmit()">
                <div class="form-area" formGroupName="customer">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" placeholder="First Name*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('customer.firstName')?.invalid && theForm.get('customer.firstName')?.touched">
                                    Please enter a valid first name.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" placeholder="Last Name*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('customer.lastName')?.invalid && theForm.get('customer.lastName')?.touched">
                                    Please enter a valid last name.
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="email" type="text" placeholder="Email*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('customer.email')?.invalid && theForm.get('customer.email')?.touched">
                                    Please enter a valid email address.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Shipping Address-->
                <div class="form-area" formGroupName="shippingAddress">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="country" (change)="refreshStates('shippingAddress')">
                                    <option value="">Select your country*</option>
                                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}
                                    </option>
                                </select>
                                <span class="help-block ms-3"
                                *ngIf="theForm.get('shippingAddress.country')?.value == '' && theForm.get('shippingAddress.country')?.touched ">
                                Please select a valid state.
                            </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="street" type="text" placeholder="Street*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('shippingAddress.street')?.invalid && theForm.get('shippingAddress.street')?.touched">
                                    Please enter a valid street.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City*" required>
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('shippingAddress.city')?.invalid && theForm.get('shippingAddress.city')?.touched">
                                    Please enter a valid city.
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option value="">Select your state*</option>
                                    <option *ngFor="let state of shippingStates" [ngValue]="state.name">{{state.name}}
                                    </option>
                                </select>
                                <span class="help-block ms-3"
                                *ngIf="theForm.get('shippingAddress.state')?.value == '' && theForm.get('shippingAddress.state')?.touched ">
                                Please select a valid state.
                            </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="zipcode" type="text" placeholder="Zip Code / Postal Code">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('shippingAddress.zipcode')?.invalid && theForm.get('shippingAddress.zipcode')?.touched">
                                    Please enter a valid zip code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyAddress($event)">
                        <span class="au-checkmark"></span> Bill Address same as Shipping Adress
                    </label>
                </div>
                <!--Biiling Address Address-->
                <!-- <div class="form-area" formGroupName="billingAddress" *ngIf="!sameAddress"> -->
                <div *ngIf="!sameAddress" class="form-area" formGroupName="billingAddress">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="country" (change)="refreshStates('billingAddress')">
                                    <option value="">Select your country*</option>
                                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}
                                    </option>
                                </select>
                                <span class="help-block ms-3"
                                *ngIf="theForm.get('billingAddress.country')?.value == '' && theForm.get('billingAddress.country')?.touched">
                                Please select your country
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="street" type="text" placeholder="Street*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('billingAddress.street')?.invalid && theForm.get('billingAddress.street')?.touched">
                                    Please enter a valid street.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City*" required>
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('billingAddress.city')?.invalid && theForm.get('billingAddress.city')?.touched">
                                    Please enter a valid city.
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option value="">Select your state*</option>
                                    <option *ngFor="let state of billingStates">{{state.name}}</option>
                                </select>
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('billingAddress.state')?.value == '' && theForm.get('billingAddress.state')?.touched ">
                                    Please select a valid state.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="zipcode" type="text" placeholder="Zip Code / Postal Code">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('billingAddress.zipcode')?.invalid && theForm.get('billingAddress.zipcode')?.touched">
                                    Please enter a valid zip code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment Method -->
                <div class="form-area" formGroupName="creditCard">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="creditCardType">
                                    <option value="">Select a card type*</option>
                                    <option value="Visa">Visa</option>
                                    <option value="MasterCard">MasterCard</option>
                                    <option value="American Express">American Express</option>
                                    <option value="Discover">Discover</option>
                                    <option value="JCB">JCB</option>
                                    <option value="Diners Club">Diners Club</option>
                                    <option value="UnionPay">UnionPay</option>
                                </select>
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('creditCard.creditCardType')?.value == '' && theForm.get('creditCard.creditCardType')?.touched">
                                    Please select credit card type
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="creditCardName" type="text" placeholder="Name on card*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('creditCard.creditCardName')?.invalid && theForm.get('creditCard.creditCardName')?.touched">
                                    Please enter a valid credit card name.
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="creditCardNumber" type="text" placeholder="Card number*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('creditCard.creditCardNumber')?.invalid && theForm.get('creditCard.creditCardNumber')?.touched">
                                    Please enter a valid credit card number.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="creditCardCCV" type="text" placeholder="CVV2 number*">
                                <span class="help-block ms-3"
                                    *ngIf="theForm.get('creditCard.creditCardCCV')?.invalid && theForm.get('creditCard.creditCardCCV')?.touched">
                                    Please enter a valid CVV2 number.
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2"> <label class="date">Expiration Date</label></div>
                        <div class="col-md-5">
                            <div class="input-space">
                                <select formControlName="creditCardExpMonth">
                                    <option *ngFor="let month of months">{{month}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-space">
                                <select formControlName="creditCardExpYear" (change)="refreshMonths()">
                                    <option *ngFor="let year of years">{{year}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <b>Total Quantity: {{totalQuantity}}</b>
                    <h4>Shipping: FREE</h4>
                    <B>Total Price: {{totalPrice | currency : 'USD'}}</B>
                </div>
                <div class="text-center">
                    <!-- <button [disabled]="!theForm.valid" type="submit" class="au-btn-submit p-2 px-4">Purchase</button> -->
                    <ng-template #popContent>
                        {{theForm.invalid && totalQuantity <= 0 ?  'Please add items to your cart and fill form with valid data.' : ''}}
                        {{totalQuantity <= 0 && theForm.valid ? 'Please add items to your cart.' : ''}}
                        {{totalQuantity > 0 && theForm.invalid ? 'Please fill form with valid data.' :  ''}}
                        {{theForm.valid && totalQuantity > 0 ? 'Order placed successfuly' : ''}}
                    </ng-template>
                    <button *ngIf="theForm.invalid || totalQuantity <= 0" type="button" class="au-btn-submit p-2 px-4" [autoClose]="'outside'"
                        [ngbPopover]="popContent">
                        Purchase
                    </button>
                    <button *ngIf="theForm.valid && totalQuantity > 0" type="submit" class="au-btn-submit p-2 px-4" [autoClose]="'outside'"
                        [ngbPopover]="popContent">
                        Purchase
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>