<ul class="navbar-nav me-auto mb-lg-0">
    <li *ngIf="!user" class="nav-item ">
        <button class="nav-link" aria-current="page" class=" btn au-btn-submit p-2" type="button" (click)="login()">
            {{'Sign In'| translate}}
        </button>
    </li>
    <li *ngIf="!user" class="nav-item ">
        <button class="nav-link" aria-current="page" class=" btn au-btn-submit p-2" type="button" (click)="signUp()">
            {{'Sign Up'| translate}}
        </button>
    </li>
    <li *ngIf="user" id="welcome" class="nav-item ">
        <button class="nav-link" class="btn au-btn-submit" (click)="manageAccount()">
            {{user.firstName }}</button>
    </li>
    <li *ngIf="user?.userType == 'Customer'" class="nav-item">
        <button [routerLink]="['/orders']" [queryParams]="{email : user.email}" class="btn au-btn-submit" type="button">
            {{'Orders' | translate}}
        </button>
    </li>
    <li *ngIf="user?.userType == 'Admin'" class="nav-item mx-2">
        <button (click)="addProduct()" class="btn au-btn-submit mx-2" type="button">
            {{'Add Product' | translate}}
        </button>
    </li>
    <li *ngIf="user" class="nav-item mx-2">
        <button class="btn au-btn-submit" type="button" (click)="logout()">
            {{'Logout' | translate}}
        </button>
    </li>
</ul>